	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/10/2018 07:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-gym:before { content: "\f100"; }
.flaticon-running:before { content: "\f101"; }
.flaticon-workout:before { content: "\f102"; }
.flaticon-woman:before { content: "\f103"; }
.flaticon-stationary-bike:before { content: "\f104"; }
.flaticon-heart:before { content: "\f105"; }
.flaticon-meditation:before { content: "\f106"; }
.flaticon-ruler:before { content: "\f107"; }
.flaticon-abs:before { content: "\f108"; }
.flaticon-tools-and-utensils:before { content: "\f109"; }
.flaticon-web:before { content: "\f100"; }
